.suggestions{
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  width: 750px;
  height: 300px;
  overflow: auto;
}
  .text-danger {
    font-size: larger!important;
  }
  /* table, th, td {
      border: 1px solid;
      
    }
  table{
      margin-left: 17%;
  }*/
  .mkScroll{
    height:auto;
    max-height:450px;
    overflow:auto
  }
  /* th,td{
    padding: 1%;
  }  */
  
  #trial {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #trial td, #customers th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  #trial tr:nth-child(even){background-color: #f2f2f2;}
  
  #trial tr:hover {background-color: #ddd;}
  
  #trial th {
    border: 1px solid rgb(0, 0, 0);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  #trial tfoot>tr>td{
    border: solid 1px white;
  border-top:1px solid black
  
  }
  
  /* hidden table */
  
  #trial1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-height:90%;
    height:90%;
    margin: 15px;
    /*  */
    padding-bottom: 20px;
  }
  
  #trial1 td, #customers th {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 0px;
    /* width: 50% */
  }
  #trial1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #trial1 tr:hover {background-color: #ddd;}
  
  #trial1 th {
    /* border: 1px solid rgb(0, 0, 0); */
    border-bottom: 1px solid rgb(0, 0, 0);
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  /* thead{position: fixed;}
  tfoot{position: fixed;}
  thead tfoot{
  border: 1px solid rgb(0, 0, 0);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  }
  footer { position: fixed; bottom: 0;text-align: center; }
  header  { position: fixed; top: 0;text-align: center; } */
  
  thead {
    display: table-header-group;
  }
  
  
  .mkSmall{
    font-size: 16px;
    width: 100%;
    width: 96%;
    margin-left: 2%;
  }
  
  .mkSmallContai{
    font-size: 16px;
    width: 95%;
    margin-left: 2%;
  }
  
  
  /* @page 
  {
    size:21cm 29.7cmt;
    margin:2mm; 
    mso-title-page:yes;
    mso-page-orientation: portrait;
    mso-header: header;
    mso-footer: footer;
  }*/
  @media print {
   html,table{font-size: 16px;font-family:Arial, Helvetica, ui-sans-serif} 
  }