<div *ngIf="show">
  <loading *ngIf="isLoading"></loading>
  <form [formGroup]="accDtlsFrm">
    <h6 style="background-color:lightskyblue">Renew Account Information</h6>
    <div class="form-row">
      <div class="form-group col-6">
        <small for="acc_type_cd">Account Type</small>
        <input type="text" class="form-control form-control-sm" formControlName="acc_type_cd" id="acc_type_cd"
          placeholder="Account Type" disabled>
      </div>
      <!-- <div class="form-group col-6">   NOT present in our API call
        <small for="dep_period">Category</small>
        <input type="text" class="form-control form-control-sm" formControlName="dep_period" id="dep_period"
          placeholder="Deposite Period" disabled>
      </div> -->
      <div class="form-group col-6">
        <small for="acc_num">Account Number</small>
        <input type="text" class="form-control form-control-sm" formControlName="acc_num" id="acc_num" disabled>
      </div>
      <div class="form-group col-6">
        <small for="XX">XX</small>
        <input type="text" class="form-control form-control-sm" formControlName="XX" id="XX" placeholder="XX" disabled>
      </div>
      <div class="form-group col-6">
        <small for="XX">XX</small>
        <input type="text" class="form-control form-control-sm" formControlName="XX" id="XX" placeholder="XX" disabled>
      </div>
      <div class="form-group col-6">
        <small for="XX">XX</small>
        <input type="text" class="form-control form-control-sm" formControlName="XX" id="XX" placeholder="XX" disabled>
      </div>
    </div>
  </form>
</div>
