small{
    font-size: 70%;
    font-weight: 500;
  }
  .suggestions{
    position: absolute;
    background-color: white;
    margin-left: 3%;
    z-index: 1;
    font-size: x-small;
  }
  mat-icon{
    color: rgb(3, 102, 3)!important;
  }
  /* #mattable2{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    width: 100%;
  } */
  @media print {
    body {
      font-family:Verdana;
      font-size: 11px;
      line-height: 1.2; /* Reduces space between lines */
      margin: 0; /* Removes extra margins */
      padding: 0;
    }
    /* .watermark-bg {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('./assets/images/landing.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.08;
      width: 100%;
      height: 100vh;
      z-index: 0;
    } */
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #000;
    }
    tr {
      margin: 0; /* Removes extra margin */
      padding: 0;
    }
    p{
      font-size: 11px;
    }
    h5{
      font-size: 14px;
    }
  }
  /* .watermark-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/images/landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.08;
    width: 100%;
    height: 100vh;
    z-index: 0;
  } */

.custom-select-box {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  width: 200px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select-box:focus {
  border-color: #6200ee;
  box-shadow: 0 0 0 3px rgba(98, 0, 238, 0.2);
}
