<loading *ngIf="isLoading"></loading>
<ng-template #contentbatch let-modal bd-example-modal-lg>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Retrieve Block</h4>
      <!-- <button mat-raised-button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')"> -->
        <!-- <span aria-hidden="true">&times;</span> -->
      <!-- </button> -->
    </div>
    <div class="modal-body " >
      <!-- Default inline 1-->
  
      <!-- <div class="pb-3">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="U" name="app_flg" [(ngModel)]="app_flg" value="U"
            (change)="changeAppFlg()" mdbInput> 
          <label class="custom-control-label" for="U"><strong class="shiftLabel">UnApproved</strong></label>
        </div>
  

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="A" name="app_flg" [(ngModel)]="app_flg" value="A"
            (change)="changeAppFlg()" mdbInput>
          <label class="custom-control-label" for="A"><strong class="shiftLabel">Approved</strong></label>
        </div>
      </div>
   -->
  
  
      <table class="table table-sm table-hover mkScroll">
        <tr *ngFor="let item of blocks; let i = index;" title="Click to Select"  (click)="OpenBlock(item)" style="cursor: pointer;">
          <td>{{item.block_cd}}</td>
          <td>{{item.block_name}}</td>
          <!-- <td>{{item.transaction_type}}</td> -->
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <!-- <button mat-raised-button class="btn btn-primary" (click)="Submit()">Submit</button> -->
      <button mat-raised-button class="btn btn-light" type="button" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>
<div class="row d-flex justify-content-center align-items-center pt-4"
style="background-color: #78c2ad21; min-height: 20vh;">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" (click)="retrieve()">Retrieve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isNew" (click)="new()">New</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave" (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isModify" (click)="updateuser()">Update</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isClear" (click)="clearuser()">Clear</button>
    <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isDel" (click)="deleteuser()">Delete</button> -->
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
  </div>
</div>
 <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-lg mb-4 bg-white p-3"> 
  <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3">
    <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
     'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
      <strong>{{showMsg.Message}}</strong>
      <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <form [formGroup]="addVill" autocomplete="chrome-off" >
    <div class="form-row">
      <div class="form-group  col-3">
        <small for="blk_state">State</small>
        <select id="state" disabled  class="form-control form-control-sm" formControlName="state">
            <option value="01">Odisha</option>
            </select>
      </div>
      <div class="form-group col-3">
        <small for="blk_dist">District</small>
        <select id="blk_dist" disabled class="form-control form-control-sm" formControlName="district">
          <option *ngIf="districts" >Choose</option>
          <option *ngFor="let district of districts" [value]="district.dist_cd">{{district.dist_name}}</option>
        
        </select>
      </div>
      <div class="form-group  col-3">
        <small for="sa_block">Block</small>
        <select id="sa_block" (click)="getVillageCD()" class="form-control form-control-sm" formControlName="block">
            <option *ngFor="let block of blocks" [value]="block.block_cd">{{block.block_name}}</option>
            </select>
      </div>
      <div class="form-group  col-3">
        <small for="sa_block">Police Station</small>
        <select id="sa_block"  class="form-control form-control-sm" formControlName="ps">
          <option *ngIf="districts" >Choose</option>
            <option *ngFor="let ps of policeStation" [value]="ps.ps_id">{{ps.ps_name}}</option>
            </select>
      </div>
      <div class="form-group col-3">
        <small for="s_area">Service Area</small>
        <select id="s_area" (click)="getPoDtls()" class="form-control form-control-sm" formControlName="service_area">
          <option value="" disabled selected>Choose</option>
          <option  *ngFor="let s of serviceArea1" value="{{s.service_area_cd}}">{{s.service_area_name}}</option>
        </select>
      </div>
      <div class="form-group  col-3">
        <small for="sa_block">Post Office</small>
        <span class="badge badge-warning pull-right" *ngIf="pin"> 
          Pincode:{{pin}}
         </span>
        <select id="sa_block"  class="form-control form-control-sm" (change)="setPIN($event.target.value)" formControlName="po">
          <option *ngIf="districts" >Choose</option>
            <option *ngFor="let po of postOffice" [value]="po.po_id">{{po.po_name}}</option>
            </select>
      </div>
        <div class="form-group  col-3">

            <small for="vill_cd">Village CD</small>
            <div class="input-group">
              <input type="code"   class="form-control form-control-sm " formControlName="code" id="vill_cd">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" [hidden]="hiddenOnNull" style="font-size:x-small" (click)="getVillageMaster()"><i class="fa fa-search"></i></button>
                 
                  </div>
            </div>
            <ng-container>
              <div class="suggestions border p-2" style="width: 150%;"
              *ngIf="villages!=null">
            
            
                  <strong> [ Village CD / Village Name ] </strong>
                  <p style="margin-bottom:.2rem; cursor: pointer;" *ngFor="let v of villages" 
                  (click)="selectVillage(v)"
                  >{{v.vill_cd + ' / '+ v.vill_name}}</p>
            
                </div>
            </ng-container>
          </div>
         
          <div class="form-group col-3">
            <small for="vill_name">Village Name<span class="text-danger">*</span></small>
            <input type="text" class="form-control form-control-sm" formControlName="vname" id="vill_name">
          </div>
    </div>
    <!-- <div class="form-row">
      <div class="form-group col-3">
        <small for="fname">First Name<span class="text-danger">*</span></small>
        <input type="text" class="form-control form-control-sm text-capitalize" formControlName="fname" id="fname">
      </div>

          <div class="form-group col-3">
            <small for="mname">Middle Name</small>
            <input type="text" class="form-control form-control-sm text-capitalize" formControlName="mname" id="mname">
          </div>
          <div class="form-group col-3">
            <small for="lname">Last Name<span class="text-danger">*</span></small>
            <input type="text" class="form-control form-control-sm text-capitalize" formControlName="lname" id="lname">
          </div>
         </div> -->
  </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" (click)="retrieve()">Retrieve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isNew" (click)="new()">New</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave" (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isModify" (click)="updateuser()">Update</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isClear" (click)="clearuser()">Clear</button>
    <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isDel" (click)="deleteuser()">Delete</button> -->
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
  </div>
</div>
  </div>
  
 

