
<form  style="width:80%; margin-left: 10%;margin-right: 10%;">
    <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3" style="margin-left :23px !important;">
        <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
         'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
          <strong>{{showMsg.Message}}</strong>
          <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <div class="card" style="background-color: rgb(219, 245, 235);">
        <div class="form-group col-12" style="text-align:center;">
          <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="accessControl()" style="margin-top:20px; margin-right:20px;">User Access Control</button> &nbsp; -->
          <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="addItem()" style="margin-top:20px; margin-right:20px;">Add New Item</button> &nbsp;
          <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="onRetrieve()" style="margin-top:20px; margin-right:20px;">Retrieve</button> &nbsp;
          <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="onRetrieve()" style="margin-top:20px; margin-right:20px;">Retrieve</button> &nbsp; -->
            <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-sm" (click)="updateValue()" style="margin-top:20px;margin-right:20px;">Update Permission</button>&nbsp; -->
            <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="backScreen()" style="margin-top:20px; margin-right:20px;">Close</button> &nbsp;

          </div><hr>
        <h3 style="text-align: center;">Menu Permission for User Type: <u>{{userType}}</u></h3>
        
        <div class="suggestions border p-2 " style="width:100%;">
            <div class="row">
            <div class="col-3" style="margin-top: 4%;">
            <div class="row" style="margin-left: 2px;">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Select Module </mat-label>
                    <mat-select name="fieldName" [(ngModel)]="selectedValue1" (selectionChange)="showSecondGroup()">
                      <mat-option *ngFor="let first of firstGroup" [value]="first">
                        {{first}}
                      </mat-option>
                     
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row" style="margin-left: 2px;">
                 <mat-form-field appearance="outline" style="width:100%">
                   <mat-label>Select {{selectedValue1}} {{bName1}}</mat-label>
                   <mat-select name="fieldName" [(ngModel)]="bName1"  (selectionChange)="show3rdGroup()">
                    <mat-option *ngFor="let second of secondGroup" [value]="second">
                      {{second}}
                    </mat-option>
                   
                  </mat-select>
                 </mat-form-field> 
                </div>
                
               </div>
               <hr>
            <div class="col-9" style="padding-left: 5%;padding-right: 10%;margin-top: 4%;">
              <div class="scroll">
                <table class="customers table-sm table-hover" >
                  <thead>
                    <tr>
                      <th scope="col">Menu Item</th>
                      <th style="text-align: center;" scope="col">Permission</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr *ngFor="let dt of second; let i=index" title="Click to Update Permission" style="cursor: pointer;">
                      
                      <td *ngIf="dt.second_sub_module_item==null">{{dt.first_sub_module_item}}</td>
                      <td *ngIf="dt.second_sub_module_item!=null">{{dt.first_sub_module_item}} -> {{dt.second_sub_module_item}}</td>
                     
                      <td style="text-align: center;">
                        <input id="toggle" type="checkbox" name="trades" [checked]="dt.permission=='Y'" (change)="changeTradesByCategory( $event.target.checked,i)">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr>
              </div>
             
             </div> 
            </div>
        </div>

      <!-- <div class="form-row" *ngFor="let title of filterUser let i=index;" style="padding-left:30px; margin-bottom: 20px;">
          <div class="col-4" style="margin-top:35px;">
            <option>{{title.user_id}}</option>
          </div>
          <div class="col-6" style="text-align:center;margin-top:25px;">
              <input id="toggle" type="checkbox" [checked]="filterUser.login_status=='Y'?'true':'false'" [value]="title.login_status" (change)="onChange(title.login_status, $event.target.checked,i)" />
           </div>
           
      </div> -->
      
     </div>
     <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3" style="margin-left :23px !important;margin-top: 1%!important;">
      <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
       'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
        <strong>{{showMsg.Message}}</strong>
        <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </form>
  <ng-template #content let-modal data-keyboard="false" data-backdrop="false">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Report Criteria</h4>
      <button  type="button" class="close text-danger" aria-label="Close" data-dismiss="modal" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{alertMsg}}
        <button  type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="acc_type">User Type<span class="text-danger">*</span></label>
            <select id="user_type" class="form-control form-control-sm"  formControlName="user_type">
              <option disabled value='0'>Select User type</option>
              <option *ngFor="let i of allRole" [value]="i.role_cd">{{i.role_type}}</option>
                
            </select>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button class="btn btn-primary" (click)="SubmitReport()">Submit</button> &nbsp;
      <button mat-raised-button class="btn btn-light" (click)="modalRef.hide()">Close</button>
      <!-- <button mat-raised-button type="button" class="btn btn-outline-dark" data-dismiss="modal">Submit</button> -->
    </div>
  </ng-template>
  <ng-template #add let-modal data-keyboard="false" data-backdrop="false">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Report Criteria</h4>
      <button  type="button" class="close text-danger" aria-label="Close" data-dismiss="modal" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{alertMsg}}
        <button  type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <form [formGroup]="form2">
        <div class="form-row">
          <div class="form-group col-3">
            <label for="acc_type">User Type<span class="text-danger">*</span></label>
            <select id="user_type" class="form-control form-control-sm"  formControlName="user_type">
              <option disabled value='0'>Select User type</option>
              <option *ngFor="let i of allRole" [value]="i.role_cd">{{i.role_type}}</option>
                
            </select>
            </div>
            <div class="col-3">
              <label for="acc_type">Select Module<span class="text-danger">*</span></label>
              <select id="user_type" class="form-control form-control-sm"  formControlName="module">
                  <option disabled value='0'>Select</option>
                  <option  value="UCIC">UCIC</option>
                  <option  value="Finance">Finance</option>
                  <option  value="Deposit">Deposit</option>
                  <option  value="Loans">Loans</option>
                  <option  value="System">System</option>
                  <option  value="Transfer">Transfer</option>
                  <option  value="Investment">Investment</option>
              </select>
            </div>
                <div class="form-group col-3">
                  <small for="fname">Sub Module<span class="text-danger">*</span></small>
                  <input type="text" class="form-control form-control-sm "  formControlName="submodule" id="submodule">
                </div>
                <div class="form-group col-3">
                  <small for="fname">1st Sub Module<span class="text-danger">*</span></small>
                  <input type="text" class="form-control form-control-sm "  formControlName="fastsubmodule" id="secondsubmodule">
                </div>
        </div>   
        
        <div class="form-row">
          
            <div class="form-group col-3">
              <small for="fname">2nd Sub Module<span class="text-danger">*</span></small>
              <input type="text" class="form-control form-control-sm "  formControlName="secondsubmodule" id="secondsubmodule">
            </div>
              <div class="form-group col-3">
                <small for="fname">Identification<span class="text-danger">*</span></small>
                <input type="text" class="form-control form-control-sm "  formControlName="identification" id="identification">
              </div>
            <div class="form-group col-3">
              <label for="acc_type">Permission<span class="text-danger">*</span></label>
              <select id="user_type" class="form-control form-control-sm"  formControlName="permission">
                  <option disabled value='0'>Select Permission</option>
                  <option  value="Y">YES</option>
                  <option  value="N">No</option>
              </select>
              </div> 
      
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button class="btn btn-primary" (click)="insertNewItem()">Submit</button> &nbsp;
      <button mat-raised-button class="btn btn-light" (click)="modalRef.hide()">Close</button>
      <!-- <button mat-raised-button type="button" class="btn btn-outline-dark" data-dismiss="modal">Submit</button> -->
    </div>
  </ng-template>



  <ng-template #access let-modal data-keyboard="false" data-backdrop="false">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Report Criteria</h4>
      <button  type="button" class="close text-danger" aria-label="Close" data-dismiss="modal" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{alertMsg}}
        <button  type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <form [formGroup]="form2">
        <div class="form-row">

          <div class="form-group col-3"  [formGroup]="get_user">
            <small >Select User<span class="text-danger">*</span></small>
            <select name="select_user"class="form-control form-control-sm" [disabled]="userType!=='A'" formControlName="select_user">
                    <option disabled selected>Select User</option>
                    
                  <option *ngFor="let title of selectalluser" [value]="title.user_id">{{title.user_id}}</option>
            </select>
            </div>

            <div class="col-3">
              <label for="acc_type">Select Module<span class="text-danger">*</span></label>
              <select id="user_type" class="form-control form-control-sm"  formControlName="module">
                  <option disabled value='0'>Select</option>
                  <option  value="UCIC">UCIC</option>
                  <option  value="Finance">Finance</option>
                  <option  value="Deposit">Deposit</option>
                  <option  value="Loans">Loans</option>
                  <option  value="System">System</option>
                  <option  value="Transfer">Transfer</option>
                  <option  value="Investment">Investment</option>
              </select>
            </div>
                
        </div>   
        
        <div class="form-row">
          
            <div class="form-group col-3">
              <label for="acc_type">Permission<span class="text-danger">*</span></label>
              <select id="user_type" class="form-control form-control-sm"  formControlName="permission">
                  <option disabled value='0'>Select Permission</option>
                  <option  value="Y">YES</option>
                  <option  value="N">No</option>
              </select>
              </div> 
      
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button class="btn btn-primary" (click)="insertNewItem()">Submit</button> &nbsp;
      <button mat-raised-button class="btn btn-light" (click)="modalRef.hide()">Close</button>
      <!-- <button mat-raised-button type="button" class="btn btn-outline-dark" data-dismiss="modal">Submit</button> -->
    </div>
  </ng-template>