/* table, th, td {
    border: 1px solid;
    
  }
table{
    margin-left: 17%;
}*/
.mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  .mat-header-cell{
    font-size: 14px;
    color: black;
  }
  .mat-column-dr_accNo {
    border-right: 1px solid rgb(172, 170, 170);
  }
  .mat-column-cr_accNo {
    border-right: 1px solid rgb(172, 170, 170);
  }
  .mat-column-tf_period {
    border-right: 1px solid rgb(172, 170, 170);
    padding-right: 30px;
  }
  .mat-column-dr {
    border-right: 1px solid rgb(172, 170, 170);
    text-align: center;
  }
  .mat-column-cr {
    border-right: 1px solid rgb(172, 170, 170);
    text-align: center;
  }
  .mat-column-tf {
    border-right: 1px solid rgb(172, 170, 170);
    text-align: center;
  }
  
  .mat-column-cr_type {
     padding-left: 30px;
   }
   .mat-column-tf_dt {
    padding-left: 30px;
  }
  .mat-column-prn_intt {
    padding-left: 30px;
  }
   
  .mat-column-disclaimer1{
    padding-right: 30px;
  }
  .mat-column-disclaimer2{
    padding-right: 50px;
    text-align: center;
  }
  table{
    margin-left: 15%;
    width: 70%;
  }
  .mkScroll{
      height:auto;
      max-height:450px;
      overflow:auto
  }
  /* th,td{
      padding: 1%;
  }  */
  
  #trial {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #trial td, #customers th {
      border: 1px solid rgb(0, 0, 0);
      padding: 8px;
    }
    
    #trial tr:nth-child(even){background-color: #f2f2f2;}
    
    #trial tr:hover {background-color: #ddd;}
    
    #trial th {
      border: 1px solid rgb(0, 0, 0);
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
    }
  
    #trial tfoot>tr>td{
      border: solid 1px white;
    border-top:1px solid black
  
    }
  
  
   /* Hidden Table */
   #trial1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*  */
    border-spacing: 0px;
  }
  
  #trial1 td, #customers th {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 2px;
  }
  
  #trial1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #trial1 tr:hover {background-color: #ddd;}
  
  #trial1 th {
    border:none;
    border-bottom: 1px solid rgb(0, 0, 0)!important;
    /* padding-top: 12px; */
    /* padding-top: 6px; */
    /* padding-bottom: 12px; */
    /* padding-bottom: 6px; */
    padding-right:3px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  /* thead{position: fixed;}
  tfoot{position: fixed;}
  thead tfoot{
  border: 1px solid rgb(0, 0, 0);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  }
  footer { position: fixed; bottom: 0;text-align: center; }
  header  { position: fixed; top: 0;text-align: center; } */
  .mkSmall{
    font-size: x-small;
  }
  /* thead {
    display: table-header-group;
  } */
  
  /* tfoot {
    display: table-footer-group; border: 0px white;
  } */
  
  
  footer{
    margin-left: 25px ; 
    position:relative; 
    bottom: 0px;
  }
  
  /* @page 
  {
   size:21cm 29.7cmt;
   margin:2mm; 
   mso-title-page:yes;
   mso-page-orientation: portrait;
   mso-header: header;
   mso-footer: footer;
  }*/
  /* @page table{width:95%; margin: 10px;} */
  @media print{footer{
    margin-top: 25px !important; 
    margin-left: 25px !important; 
    position:fixed!important; 
    bottom: 0px !important;
  } }