.btn-primary-spacing
{
margin-right: 15px !important;
}
.suggestions{
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    width: 200px;
    height: auto;
    max-height: 300px;
    overflow: auto;
  }
