.btn-primary-spacing
{
margin-right: 10px !important;
}

.transDet{
    width: auto;
    height: 300px;
    overflow: auto;
  }
  
  small{
    font-weight: 500;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 50%;
    right: 20px;
    padding: 10px;
    background-color: #0c9dc9;
    color: #ffffff;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
  }
  .scroll-to-bottom {
    position: fixed;
    top: 51%;
    right: 20px;
    padding: 10px;
    background-color: #0c9dc9;
    color: #ffffff;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
  }
  .suggestions{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*  */
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    width: 200px;
    height: auto;
    max-height: 300px;
    overflow: auto;
    /*  */
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customers1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
  }
  
  #customers1 td, #customers1 th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #customers1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers1 tr:hover {background-color: #aeeea6; cursor: pointer;}
  
  #customers1 th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #234e3c;
    color: white;
    font-size:small
  }