.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  
  th, td {
    text-align: left;
    padding: 6px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* table, th, td {
    border: 1px solid;
    
  }
table{
    margin-left: 17%;
}*/
.mkScroll{
    height:auto;
    max-height:450px;
    overflow:auto
}
/* th,td{
    padding: 1%;
}  */

#trial {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #trial td, #customers th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  #trial tr:nth-child(even){background-color: #f2f2f2;}
  
  #trial tr:hover {background-color: #ddd;}
  
  #trial th {
    border: 1px solid rgb(0, 0, 0);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  #trial tfoot>tr>td{
    border: solid 1px white;
  border-top:1px solid black

  }

  /* hidden table */
  .row1 {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column1 {
    float: left;
    width: 50%;
    /* padding: 2px; */
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    /* padding: 16px; */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* table, th, td {
    border: 1px solid;
    
  }
table{
    margin-left: 17%;
}*/
.mkScroll{
    height:auto;
    max-height:450px;
    overflow:auto
}
/* th,td{
    padding: 1%;
}  */

#trial1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  /* #trial td, #customers th { */
    /* border: 1px solid rgb(0, 0, 0); */
    /* padding: 8px; */
  /* } */
  .mkSmall{
    font-size: x-small;
  }
  #trial1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #trial tr:hover {background-color: #ddd;}
  
  #trial1 th {
    border-bottom: 1px solid rgb(0, 0, 0) !important;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  footer{
    position: fixed!important; bottom: 0!important;text-align: center!important; 
 }

 /* @page 
{
   size:21cm 29.7cmt;
   margin:2mm; 
   mso-title-page:yes;
   mso-page-orientation: portrait;
   mso-header: header;
   mso-footer: footer;
}*/
/* @page table{width:95%; margin: 10px;} */
@page footer{
 margin-top:100cm; 
 flex: 0 0 50px;
} 
  /*  */