
<ng-template #Delconfirm >
    <div class="modal-body text-center" >
      <p>'Are you sure you want to <b style="color: red;">Delete</b> Transaction of Acc {{this.td.acc_num.value}}
        with Transancation Cd {{this.td.trans_cd.value}}</p>
      <button mat-raised-button type="button" class="btn btn-light" (click)="this.modalRef.hide()" >No</button>&nbsp;
      <button mat-raised-button type="button" class=" btn btn-primary" (click)="onDeleteClick()" >Yes</button>
      
    </div>
  </ng-template>
  
  <loading *ngIf="isLoading"></loading>
  <div class="row d-flex justify-content-center align-items-center"
    style="background-color: #78c2ad21; min-height: 90vh;">
    <ng-template #buttonDiv>
      <div
      class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3 d-flex justify-content-center align-items-center">
      <!-- <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="openModal(Delconfirm)" [disabled]="!isDelete">Delete</button> -->
      <!-- <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onRetrive()" [disabled]="!isRetrive">Retrive</button> -->
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onResetClick()">Reset</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onBackClick()">Back</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1">Cancel</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onSaveClick()">Save</button>
      <button mat-raised-button type="button" class="btn btn-danger btn-sm ml-1 mr-1" (click)="onAppvClick()">Approve Transaction</button>
  
    </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="buttonDiv">
  
    </ng-container>
    
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3">
      <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
        <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
         'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
          <strong>{{showMsg.Message}}</strong>
          <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
     
      <hr>
      <div class="row"> 
       
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 ">
          <form [formGroup]="tdDefTransFrm" >
            <h4 class="customHeader mt-2">Transaction</h4>
            <div class="form-row">
              <div class="form-group col-4">
                <small for="amount">Trans Code</small>
                <input type="number" (change)="SelectTransData($event.target.value)" class="form-control form-control-sm" formControlName="trans_cd" id="trans_cd" >
              </div>
              <div class="form-group col-8" >
                <small for="trans_dt">Trans Date <span class="text-danger">*</span></small>
                <div class="input-group">
                  <input type="text"  placeholder="dd/mm/yyyy" class="form-control form-control-sm"  bsDatepicker
                    formControlName="trans_dt" (ngModelChange)="SetTrans_DT()"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }"
                    [isOpen]="isOpentrnsdt">
                  <div class="input-group-append">
                    <button mat-raised-button class="btn btn-outline-secondary btn-sm"  type="button" (click)="isOpentrnsdt = !isOpentrnsdt">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" >
                <small for="trans_type">Trans Type<span class="text-danger">*</span></small>
                <select id="trans_type" class="form-control form-control-sm" formControlName="trans_type" [readonly]="true"
                  (change)="onRecovTypeChange()">
                  <option [readonly]="true">Choose</option>
                  <option value="D" [selected]="true">Purchase</option> 
                  <option value="C" >Sale</option> 
                </select>
              </div>
              
              <div class="form-group col-6" >
                <small for="trans_mode">Trans Mode<span class="text-danger">*</span></small>
                <select id="trans_mode" class="form-control form-control-sm" formControlName="trans_mode"
                  (change)="onTransTypeChange()">
                  <option [readonly]="true">Choose</option>
                  <option value="C">Cash</option>
                  <option value="T">Transfer</option>
                </select>
              </div>
             
              <div class="form-group  col-8">
                <small for="anx_cd">Select Anex</small>
                <select id="anx_cd" (change)="selectAnx($event)" class="form-control form-control-sm" formControlName="anx_cd">
                    <option selected value="A">Select an Anx</option>
                    <option *ngFor="let anx of AllAnxData" [value]="anx.anx_cd">{{anx.anx_cd}}-{{anx.anx_desc}}</option>
                    </select>
              </div>

              <div class="form-group col-4" hidden>
                <small for="anx_type">Anx Type</small>
                <input type="text" [readOnly]="true" class="form-control form-control-sm" formControlName="anx_type" id="anx_type"
                >
              </div>
              <div class="form-group col-4" >
                <small for="anx_type">Anx Type</small>
                <input type="text" [readOnly]="true" class="form-control form-control-sm" formControlName="anx_type_desc" id="anx_type"
                >
              </div>
              <div class="form-group col-8" >
                <small for="sub_anx_cd">Select Sub Anx<span class="text-danger">*</span></small>
                <select id="sub_anx_cd" (change)="subAnxChange()" class="form-control form-control-sm" formControlName="sub_anx_cd">
                    <option selected value="A">Select a Sub Anx</option>
                    <option *ngFor="let anx of AllSubAnxData" [value]="anx.sub_anx_cd">{{anx.sub_anx_cd}}-{{anx.sub_anx_desc}}</option>
                    </select>
              </div>
              <div class="form-group col-4" >
                <small for="acc_cd">Acc Code</small>
                <input type="number" [readOnly]="true" class="form-control form-control-sm" formControlName="acc_cd" id="acc_cd"
                  >
              </div>
              <div class="form-group col-6" *ngIf="td.trans_type.value=='D'">
                <small for="buyer">Buyer</small>
                <input type="text" class="form-control form-control-sm" formControlName="buyer" id="buyer"
                  >
              </div>
              <div class="form-group col-6" *ngIf="td.trans_type.value!='D'">
                <small for="seller">Seller</small>
                <input type="text" class="form-control form-control-sm" formControlName="seller" id="seller"
                  >
              </div>
              <div class="form-group col-4" >
                <small for="purchase_dt">Purchase Dt</small>
                <div class="input-group">
                  <input type="text"  placeholder="dd/mm/yyyy" class="form-control form-control-sm"  bsDatepicker
                    formControlName="purchase_dt" 
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }"
                    [isOpen]="isOpenPurchasedt">
                  <div class="input-group-append">
                    <button mat-raised-button class="btn btn-outline-secondary btn-sm"  type="button" (click)="isOpenPurchasedt = !isOpenPurchasedt">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="form-group col-2" >
                <small for="unit_rt">Unit Rt.</small>
                <input type="number" class="form-control form-control-sm" formControlName="unit_rt" id="unit_rt"
                 >
              </div>
              <div class="form-group col-4" >
                <small for="quantity">Quantity</small>
                <input type="number" class="form-control form-control-sm" formControlName="quantity" id="quantity"
                 >
              </div>
              <div class="form-group col-4" >
                <small for="gst_amt">GST Amount</small>
                <input type="number" class="form-control form-control-sm" formControlName="gst_amt" id="gst_amt"
                 >
              </div>
              <div class="form-group col-4" >
                <small for="total_cost">Total Cost</small>
                <input type="number"  class="form-control form-control-sm" formControlName="total_cost" id="total_cost"
                 >
              </div>

                    <div class="form-group col-4">
                      <small for="credit_ac_name">Cr Gl-Code</small>
                      <div class="input-group">
                        <input type="text" class="form-control form-control-sm " formControlName="cr_acc_cd"
                          placeholder="Enter GL-Code"  id="cr_acc_cd" >
                          <div class="input-group-append">
                            <button  class="btn btn-primary btn-sm"
                              (click)="searchCrAccCd()">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                      </div>
                      <div class="suggestionsTrfGl" [hidden]="hidegl2">
                        <table class="table table-hover table-bordered table-sm w-auto small" id="customers1" [hidden]="hidegl2"  >
                          <thead>
                            <tr>
                              <th scope="col">GL-Code</th>
                              <th scope="col">GL-Head</th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let cust of AllGlHead"  (click)="setCrAccCode(cust.acc_cd,cust.acc_name)">
                              <td style="width: 200px" scope="row">{{cust.acc_cd}}</td>
                              <td style="width: 200px">{{cust.acc_name}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- <div class="suggestions border p-2" style="width: 150%; font-size: small;"
                        *ngIf="acc_master && !(acc_master.length > 0) && indxsuggestedCustomerCr==i">
                        <strong class="text-danger"> does not match with any Gl-Code</strong>
                      </div> -->
                    </div>
  
                    <div class="form-group col-8">
                      <small for="cr_acc_name">Cr Gl-Name</small>
                      <input type="text" [readonly]="true" formControlName="cr_acc_name"
                        class="form-control form-control-sm text-capitalize" id="cr_acc_name">
                    </div>



              
            </div>
            
          </form>
         
          <!-- denomination details removed -->
        </div>


        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 ">
           <h4 class="customHeader mt-2"> Unapproved Transaction List</h4>
            
            <div class="table-responsive" class="scroll-when-long">
              <table class="customers" *ngIf="unapprovedTrans.length">
                <!-- <thead> -->
                  <tr>
                    <th scope="col">Tran CD</th>
                    <th scope="col">Anx Name</th>
                    <th scope="col">Sub Anx Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Tran Date</th>
                    <th scope="col">Tran Type</th>
                    <th scope="col">Tran Mode</th>
                    <th scope="col">Created By</th>
                  </tr>
                <!-- </thead> -->
                <tbody>
                  <tr *ngFor="let UnAppvdata of unapprovedTrans"  #tooltip="matTooltip"
                  matTooltip="Click to select"  style="cursor: pointer;"
                    (click)="SelectTransData(UnAppvdata)"
                    [class.table-active]="UnAppvdata.trans_cd === selectedTransactionCd">
                    <td>{{UnAppvdata.trans_cd}}</td>
                    <td>{{getAnxName(UnAppvdata.anx_cd)}}</td>
                    <td>{{getSubAnxName(UnAppvdata.sub_anx_cd)}}</td>
                    <td>{{UnAppvdata.quantity}}</td>
                    <td>{{UnAppvdata.trans_dt | slice:0:10}}</td>
                    <td>{{UnAppvdata.trans_type === 'D' ? 'Purchase' : 'Sale' }}</td>
                    <td>{{UnAppvdata.trans_mode === 'C' ? 'Cash' : 'Transfer' }}</td>
                    <td>{{UnAppvdata.created_by}}</td>
                  </tr>
                </tbody>
              </table>
              <span *ngIf="!unapprovedTrans.length">
                 No unapproved transactions
              </span>
              <hr>
            </div>
          </div>
         
      </div>
      <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 mt-2">
        <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
         'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
          <strong>{{showMsg.Message}}</strong>
          <button  type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <ng-template #contentbatch let-modal bd-example-modal-lg>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Unapprove Transaction List</h4>
    
      </div>
      <div class="modal-body">
    
    
    
        <table class="table table-sm table-hover" id="customers2">
          <tr>
            <th>Trans Cd</th>
            <th>Operation Type</th>
            <th>Trans Type</th>
            <th>Trans Amount</th>
          </tr>
          <tr *ngFor="let item of unapprovedTrans; let i = index;" title="Click to Select" style="cursor: pointer;">
            <td>{{item.trans_cd}}</td>
            <td>{{item.trans_type=='D'?"Purchase":"Sale"}}</td>
            <td>{{item.trans_mode=='T'?"Transfer":"Cash"}}</td>
            <td>{{item.amount}}</td>
            <!-- <td>
              <button mat-raised-button>
                <button mat-raised-button class="btn btn-primary float-right" (click)="Submit()">View/Edit</button>
              </button>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button mat-raised-button class="btn btn-default" (click)="modalRef.hide();disableOperation=false;showTransactionDtl=false;">Cancel</button> -->
        <button mat-raised-button class="btn btn-default" (click)="onCancel()">Cancel</button> &nbsp;
        <button mat-raised-button class="btn btn-primary float-right" (click)="Submit()">View/Edit</button>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="buttonDiv">
  
    </ng-container>
    
  </div>