<ng-template #content let-modal data-keyboard="false" data-backdrop="false">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Get Export Data</h4>
      <button type="button" class="close text-danger" aria-label="Close" data-dismiss="modal" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{alertMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="exportEntryForm">
        <div class="row">
          <div class="col-4">
            <small for="block">Select Block</small>
           <select id="block" class="form-control form-control-sm" formControlName="block_cd">
             <option *ngIf="blocks" [readonly]="true">Choose</option>
             <option  *ngFor="let block of blocks" [value]="block.block_cd">
               {{block.block_cd +' ' + block.block_name}}
             </option>
           </select>
          </div>
          <div class="col-8">
            <button style="margin-top: 20px;" mat-raised-button class="btn btn-primary text-left" (click)="getFilterVill()">Get Villages</button>
          </div>
          <!-- <div>
            <select name="agent_id" id="agent_id" formControlName="agent_id" class="form-control">
              <option value="" selected="selectTitle">Choose...</option>
              <option *ngFor="let agent of agentData" [value]="agent.agent_cd">{{agent.agent_cd}}-{{agent.agent_name}}</option>
            </select>
          </div> -->
        </div>
       
      </form>
      <hr>
      <form [formGroup]="villEntryForm"  >
        <div class="table-responsive" style="overflow: scroll;height: 400px;">
          <table class="table table-sm table-hover" >
            <thead>
              <tr>
                <th scope="col">SL NO.</th>
                <th scope="col">Village Code</th>
                <th scope="col">Village Name</th>
                <!-- <th scope="col">Loanee</th> -->
                <th scope="col">Select Village</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <!-- <td></td> -->
                <td> <div class="custom-control form-control-sm custom-switch"><label class="btn btn-filter">
                  All&nbsp;&nbsp;&nbsp;<input type="checkbox" name="allTrades"  (change)="allTrades($event)">
                </label> </div> </td>
              </tr>
              <tr *ngFor="let vill of villList; let i=index" title="Click to Select" style="cursor: pointer;">
                <td>{{i+1}}</td>
                <td>{{vill.vill_cd}}</td>
                <td>{{vill.vill_name}}</td>
                <!-- <td>{{vill.loanee}}</td> -->
                <td>   <div class="custom-control form-control-sm custom-switch">
                    <label class="btn btn-filter">
                      <input type="checkbox" name="trades" [checked]="vill.trf_flg=='Y'" (change)="changeTradesByCategory(i)">
                    </label>&nbsp;
                  </div></td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
          <!-- <div>
            <select name="agent_id" id="agent_id" formControlName="agent_id" class="form-control">
              <option value="" selected="selectTitle">Choose...</option>
              <option *ngFor="let agent of agentData" [value]="agent.agent_cd">{{agent.agent_cd}}-{{agent.agent_name}}</option>
            </select>
          </div> 
        </div> -->
       
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button class="btn btn-primary" (click)="SubmitReport();modalRef.hide()">Submit</button> &nbsp;
      <!-- <button mat-raised-button class="btn btn-primary" (click)="SubmitReport();modalRef.hide()">Submit</button> &nbsp; -->
      <button mat-raised-button class="btn btn-light" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>
  <div class="row d-flex justify-content-center align-items-center pt-4"
    style="background-color: #78c2ad21; min-height: 20vh;">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-lg mb-4 bg-white p-3">
      <table>
        <tr *ngIf="getExportData">
          <th>Loan ID / A/C No</th>
          <th>village Name</th>
          <th>Party Name</th>
          <th>Trf Dt</th>
          <th>Principal</th>
          <th>Interest</th>
        </tr>
        <tr *ngIf="getExportData">
          <td><input type="text" class="inputBld" name="agent_nm" id="agent_lbl" [readonly]="true" value=" BLOCK NAME"></td>
          <td><input type="text" class="inputBld" name="agent_nm" id="agent_nm" [readonly]="true" value="{{agentName}}"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let i of getExportData; let ag = index">
          <ng-container>
            <td class="mkColBlk"> <b>{{i.acc_num}} </b> </td>
            <td class="mkColBlk"> <b> {{i.password}} </b> </td>
            <td class="mkColBlk" id="custNm" style="font-size:small;"><b> {{i.cust_name}} </b> </td>
            <td>{{i.opening_dt}}</td>
            <td style="text-align: right;">{{i.curr_bal_amt}}</td>
            <td style="text-align: right;">{{i.interest}}</td>
            <!-- <td class="mkColBlk" style="text-align: center;"> <b> {{i.balance_amt}} </b> </td> -->
          </ng-container>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{alertMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" (click)="closeScreen()">Close</button>
        <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" (click)="closeScreen()">Close</button> -->
        <button mat-raised-button [disabled]="isType" type="button" class="btn btn-rounded btn-primary m-1"
          (click)="exportAsTxt()">Export</button> &nbsp;
        <div style="display:inline-block" *ngIf="getExportData">
          <input type="radio" (change)="exportFormat($event)" id="N" name="exportAs" value="N">
          <label for="Normal" class="pl-1">6-Digit</label> &nbsp;&nbsp;
          <input type="radio" (change)="exportFormat($event)" id="C" name="exportAs" value="C">
          <label for="Cochin" class="pl-1">9-Digit</label><br>
        </div>
      </div>
    </div>
  </div>
  <loading *ngIf="isLoading"></loading>