<loading *ngIf="isLoading"></loading>

<div class="row d-flex justify-content-center align-items-center pt-4"
style="background-color: #78c2ad21; min-height: 20vh;">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" (click)="retrieve()">Get User</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave"  (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isApprv" (click)="approve()">Approve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
    <div class="row" [hidden]="!selected_user">
      <div class="form-group col-3"  [formGroup]="get_user">
      <small >Select User<span class="text-danger">*</span></small>
      <select name="select_user"class="form-control form-control-sm" [disabled]="userType!=='A'" formControlName="select_user">
              <option disabled selected>Select User</option>
              
            <option *ngFor="let title of selectalluser" [value]="title.user_id">{{title.user_id}}</option>
      </select>
      </div>
      <div class="form-group col-3" style="margin-top:18px;">
          <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm"  (click)="getallUser()">Get Details</button>
      </div>
    </div>
  
  </div>
</div>
 <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-lg mb-4 bg-white p-3"> 
  <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3">
    <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
     'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
      <strong>{{showMsg.Message}}</strong>
      <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card" [hidden]="getUserDtl">
  <form [formGroup]="upd_s_User" style="margin-left:15px; margin-top:10px;" autocomplete="chrome-off" >
    <h4>User Information for: <u>{{getusername}}</u></h4>
    <div class="form-row">
      <div class="form-group col-3">
        <small for="utype">User Type</small>
        <select name="utype"class="form-control form-control-sm" disabled formControlName="utype">
                <option disabled selected>Select User</option>
                <option value="S">Super User</option>
                <option value="G">General User</option>
                <option value="D">Discard User</option>
                <option value="A">Admin</option>
        </select>
      </div>
      <div class="form-group col-3">
        <small for="Cbranch">Current Branch<span class="text-danger">*</span></small>
        <select id="Cbranch" class="form-control form-control-sm" disabled formControlName="Cbranch">
       <option *ngFor="let options of brnDtls" [value]="options.brn_cd" >{{ options.brn_name }}</option>
        </select>
      </div>
      <div class="form-group col-3">
        <small for="Tbranch">Transfer to<span class="text-danger">*</span></small>
        <select id="Tbranch" class="form-control form-control-sm"  formControlName="Tbranch">
        <option>Select a Branch</option>
        <option *ngFor="let options of brnDtls" [value]="options.brn_cd" >{{ options.brn_name }}</option>
        </select>
      </div>
      
    </div>
  </form>
  </div>
  <br>
      
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" (click)="retrieve()">Get User</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave"  (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isApprv" (click)="approve()">Approve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
    
  </div>
</div>
  </div>
  
 