<loading *ngIf="isLoading"></loading>
<ng-template #contentbatch let-modal bd-example-modal-lg>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Retrieve Block</h4>
      <!-- <button mat-raised-button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')"> -->
        <!-- <span aria-hidden="true">&times;</span> -->
      <!-- </button> -->
    </div>
    <div class="modal-body " >
      <!-- Default inline 1-->
  
      <!-- <div class="pb-3">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="U" name="app_flg" [(ngModel)]="app_flg" value="U"
            (change)="changeAppFlg()" mdbInput> 
          <label class="custom-control-label" for="U"><strong class="shiftLabel">UnApproved</strong></label>
        </div>
  

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="A" name="app_flg" [(ngModel)]="app_flg" value="A"
            (change)="changeAppFlg()" mdbInput>
          <label class="custom-control-label" for="A"><strong class="shiftLabel">Approved</strong></label>
        </div>
      </div>
   -->
  
  
      <table class="table table-sm table-hover mkScroll">
        <tr *ngFor="let item of blocks; let i = index;" title="Click to Select"  (click)="OpenBlock(item)" style="cursor: pointer;">
          <td>{{item.bank_cd}}</td>
          <td>{{item.block_name}}</td>
          <!-- <td>{{item.transaction_type}}</td> -->
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <!-- <button mat-raised-button class="btn btn-primary" (click)="Submit()">Submit</button> -->
      <button mat-raised-button class="btn btn-light" type="button" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>
<div class="row d-flex justify-content-center align-items-center pt-4"
style="background-color: #78c2ad21; min-height: 20vh;">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" (click)="retrieve()">Retrieve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isNew" (click)="new()">New</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave" (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isModify" (click)="updateuser()">Update</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isClear" (click)="clearuser()">Clear</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isDel" (click)="deleteuser()">Delete</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
  </div>
</div>
 <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-lg mb-4 bg-white p-3"> 
  <div *ngIf="showMsg && showMsg.Show" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3">
    <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
     'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
      <strong>{{showMsg.Message}}</strong>
      <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <form [formGroup]="addBranch" autocomplete="chrome-off" >
    <div class="form-row">
        <div class="form-group  col-6">
            <small for="bank_cd">Bank CD</small>
            <select id="bank_cd" (change)="getAllBlocks()" class="form-control form-control-sm" formControlName="bank_cd">
                <option selected value="A">Select a Option</option>
                <option *ngFor="let block of blocks1" [value]="block.bank_cd">{{block.bank_cd}}-{{block.bank_name}}</option>
                </select>
          </div>
          <div class="form-group  col-6">
            <small for="branch_cd">Branch CD</small>
            <select id="branch_cd" (change)="getAllbranch()" class="form-control form-control-sm" formControlName="branch_cd">
                <option selected value="A">Select a Option</option>
                <option *ngFor="let brn of branch1" [value]="brn.branch_cd">{{brn.branch_cd}}-{{brn.branch_name}}</option>
                </select>
          </div>
        
    </div>

    <div class="form-row">
      
      <div class="form-group col-4">
        <small for="branch_nm">Branch Name</small>
        <input type="text" class="form-control form-control-sm" formControlName="branch_nm" id="branch_nm">

      
      </div>
        <div class="form-group  col-5">
            <small for="branch_addr">Branch Address</small>
       

        <textarea class="form-control form-control-sm" formControlName="branch_addr" id="branch_addr"></textarea>
       
          </div>
        
          <!-- </div> -->
         
          <div class="form-group col-3">
            <small for="branch_ph">Phone No. </small>
            <small *ngIf="validatePhone" style="color: red;">Should be 10 digit only.</small>
            <input type="text" class="form-control form-control-sm" formControlName="branch_ph" id="branch_ph">
          </div>
    </div>
    <!-- <div class="form-row">
      <div class="form-group col-3">
        <small for="fname">First Name<span class="text-danger">*</span></small>
        <input type="text" class="form-control form-control-sm" formControlName="fname" id="fname">
      </div>

          <div class="form-group col-3">
            <small for="mname">Middle Name</small>
            <input type="text" class="form-control form-control-sm" formControlName="mname" id="mname">
          </div>
          <div class="form-group col-3">
            <small for="lname">Last Name<span class="text-danger">*</span></small>
            <input type="text" class="form-control form-control-sm" formControlName="lname" id="lname">
          </div>
         </div> -->
  </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" (click)="retrieve()">Retrieve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isNew" (click)="new()">New</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave" (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isModify" (click)="updateuser()">Update</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isClear" (click)="clearuser()">Clear</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isDel" (click)="deleteuser()">Delete</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
  </div>
</div>
  </div>
  
 
