<loading *ngIf="isLoading"></loading>
<div class="row d-flex justify-content-center align-items-center">

  <ng-template #buttonDiv>
    <div
      class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3 d-flex justify-content-center align-items-center">
      <!-- <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="newAccount()">New</button> -->
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="retrieveData()">Retrieve</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="modifyData()">Modify</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="clearData()">Clear</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="saveData()" >Save</button>
      <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="backScreen()">Back</button>
      <!-- <button mat-raised-button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="deleteData()">Delete</button> -->
      <!-- <button mat-raised-button type="button" [disabled]="undefined === tm_deposit.cust_cd" class="btn btn-primary btn-sm ml-1 mr-1"
        (click)="openModal(kycContent)">Kyc</button> -->
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="buttonDiv"></ng-container>


  <div *ngIf="showMsg && showMsg.Show" class="container col-xs-12 col-sm-12 col-md-11 col-lg-11 mb-2 bg-white p-3">

    <!-- <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{alertMsgType}}: </strong>
    {{alertMsg}}
    <button mat-raised-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertMsg()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
    <div *ngIf="showMsg && showMsg.Show" class="col-12 mt-1">
      <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
     'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
        <strong>{{showMsg.Message}}</strong>
        <button type="button" class="close" data-dismiss="alert" (click)="closeAlertMsg()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

  </div>


  <!-- <======================================================================================> -->

  <div class="container col-xs-12 col-sm-12 col-md-11 col-lg-11 mb-2 bg-white p-3">
    <div class="row">
      <div class="col-12 ">
        <h1></h1>
        <h4 class="customHeader">Account Details</h4>

        <div class="form-row">
          <div class="form-group col-4">
            <small for="trans_type">Account Type</small> <br>
            <select
              style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
              [disabled]='disableAccountTypeAndNo' [(ngModel)]="tm_deposit.acc_type_cd"
              (change)="setAccountType($event.target.value)" id="account_type" class="form-control form-control-sm">
              <option selected>-Select an opction-</option>
              <option *ngFor="let l of accountTypeList" [value]="l.acc_type_cd"
                [selected]="tm_deposit.acc_type_cd == l.acc_type_cd">{{l.acc_type_cd}}-{{l.acc_type_desc}}</option>
            </select>
          </div>
          <!-- (change)="getAccountOpeningTempData()" -->
          <div class="form-group col-5">
            <small for="acc_no">Account Number</small>
            <input style="height:25px"  (change)="getAccountOpeningTempData()"
              [(ngModel)]="tm_deposit.acc_num" type="text" [disabled]="operationType !== 'I' && operationType !== 'U'"
              class="form-control form-control-sm text-capitalize" id="acc_no" placeholder="Account Number">
          </div>


          <div class="form-group col-3">
            <small for="dbs_acc_open_dt">Opening Date</small>
            <input style="height:25px;" type="text" placeholder="dd/mm/yyyy" class="form-control"
              [ngModel]="tm_deposit.opening_dt" [readonly]="true" bsDatepicker
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
          </div>

        </div>


        <!-- <-----------Start: Fixed Deposit-------------->
        <div *ngIf="accountTypeDiv==22">

          <div class="form-row">

            <div class="form-group col-4">
              <small for="trans_type">Constitution</small> <br>
              <select [disabled]='disableAll'
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="trans_type" [(ngModel)]="tm_deposit.constitution_cd" class="form-control form-control-sm"
                (change)="setConstitutionType($event.target.value)">
                <option [value]="tm_deposit.constitution_cd" [readonly]="true" selected>
                  {{tm_deposit.constitution_cd}}-{{tm_deposit.constitution_desc}}</option>
                <option *ngFor="let l of selectedConstitutionList" [value]="l.constitution_cd">
                  {{l.constitution_cd}}-{{l.constitution_desc}}</option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="dep_oprn_instr">Operational Instr</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="acc_oprn_instr" [(ngModel)]="tm_deposit.oprn_instr_cd" [disabled]='disableAll'
                class="form-control form-control-sm" (change)="setOperationalInstr($event.target.value)">
                <option [value]="tm_deposit.oprn_instr_cd" selected>
                  {{tm_deposit.oprn_instr_cd}}-{{tm_deposit.oprn_instr_desc}}</option>
                <option *ngFor="let l of operationalInstrList" [value]="l.oprn_cd">{{l.oprn_cd}}-{{l.oprn_desc}}
                </option>
              </select>
            </div>

            <div class="form-group col-5">
              <div class="container border">
                <div class="form-row">

                  <div class="form-group col-3">
                    <small for="acc_no">Investment Period</small>
                  </div>

                  <div class="form-group col-3">
                    <small for="dep_yr">Year</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.year" style="height:25px" type="number"
                      max='100' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="dep_yr">
                  </div>
                  <div class="form-group col-3">
                    <small for="dep_mon">Month</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.month" style="height:25px" type="number"
                      max='12' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="dep_mon">
                  </div>
                  <div class="form-group col-3">
                    <small for="dep_day">Day</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.day" style="height:25px" type="number"
                      max='30' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="dep_day">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-4">
              <small for="trans_type">Intt Transfer Type</small> <br>
              <select [disabled]='disableAll'
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="intt_trans_type" [(ngModel)]="tm_deposit.intt_trf_type" class="form-control form-control-sm"
                (change)="setIntTfrType($event.target.value)" (change)="reProcessPrincipal()">
                <option [value]="tm_deposit.intt_trf_type" [readonly]="true" selected>{{tm_deposit.intt_tfr_type_dscr}}</option>
                <option *ngFor="let l of intTransferType ; let i= index" [hidden]="i== 0 && tm_deposit.acc_type_cd == 2" [value]="l.tfr_type">{{l.tfr_desc}}</option>
              </select>
            </div>

            <div class="form-group col-2">
              <small for="dep_intt_rate">Intt Rate</small>
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.intt_rt"
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processInterest()" class="form-control form-control-sm text-capitalize" id="intrate">
            </div>

            <div class="form-group col-3">
              <small for="dep_principal">Principal</small>
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.prn_amt"
                style="height:25px; text-align-last: right;" type="number" min="0" value='.00' step='any'
                (focusout)="processPrincipal()" class="form-control form-control-sm text-capitalize" id="principal">
            </div>

            <div class="form-group col-3">
              <small for="dep_interest">Interest</small>
              <input [readonly]="true" [(ngModel)]="tm_deposit.intt_amt" style="height:25px; text-align-last: right;"
                type="number" min="0" step='any' class="form-control form-control-sm text-capitalize" id="dep_interest">
            </div>
          </div>



          <div class="form-row">
            <div class="form-group col-2">
              <small for="dbs_acc_open_dt">Maturity Date</small>
              <input [readonly]="true" style="height:25px;" type="text" placeholder="dd/mm/yyyy" class="form-control"
                [(ngModel)]="tm_deposit.mat_dt" [readonly]="true" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
            </div>

            <div class="form-group col-3">
              <small for="dep_cert_no">Cert. No. / Ledger Folio No.</small>
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.cert_no" style="height:25px" type="text"
                class="form-control form-control-sm text-capitalize" id="dep_cert_no">
            </div>

            <div class="form-group col-2">
              
              <small for="stand_ins_after_matu">After Maturity Instr</small> <br>
              <select [disabled]='disableAll'
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="stand_ins_after_matu" [(ngModel)]="tm_deposit.standing_instr_flag"
                class="form-control form-control-sm" (change)="setStandingInstrAfterMatu($event.target.value)">
                <!-- <option [value]="tm_deposit.standing_instr_flag" [readonly]="true" selected="selected">{{tm_deposit.standing_instr_dscr}}</option> -->
                <!-- <div *ngFor="let l of standingInstrAfterMaturity">
                  {{l}}
            </div> -->
            
                <option *ngFor="let l of standingInstrAfterMaturity"
                  [selected]="tm_deposit.standing_instr_flag==l.instr_code" [value]="l.instr_code">{{l.instr_dscr}}
            
                </option>
              </select>
            </div>
            <div class="form-group col-3">
              <small for="dep_cert_no">S/B Account No</small>
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.user_acc_num" style="height:25px" type="text"
                class="form-control form-control-sm" (focusout)="validateSbAccount()" id="dep_sb_ac_no">
            </div>

            <div class="form-group col-2">
              <br>
              <!-- <div class="container border"> -->
              <label class="form-check-label">
                <input
                  [disabled]='disableAll || tm_deposit.intt_trf_type == undefined || tm_deposit.intt_trf_type == null || tm_deposit.intt_trf_type == "O"'
                  type="checkbox" value="false" [checked]="tm_deposit.cheque_facility_flag == 'Y'"
                  (change)="tm_deposit.cheque_facility_flag = $event.target.checked ? 'Y' : 'N' "><small> Standing
                  Instr</small>
              </label>
            </div>
            <!-- </div> -->

          </div>
        </div>
        <!-- <-----------End: Fixed Deposit-------------->

        <!-- <-----------Start: Term Deposit_Reinvestment-------------->
        <div *ngIf="accountTypeDiv==23">

          <div class="form-row">

            <div class="form-group col-4">
              <small for="term_dep_const">Constitution</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="trans_type" [(ngModel)]="tm_deposit.constitution_cd" [disabled]='disableAll'
                class="form-control form-control-sm" (change)="setConstitutionType($event.target.value)">
                <option [value]="tm_deposit.constitution_cd" [readonly]="true" selected>
                  {{tm_deposit.constitution_cd}}-{{tm_deposit.constitution_desc}}</option>
                <option *ngFor="let l of selectedConstitutionList" [value]="l.constitution_cd">
                  {{l.constitution_cd}}-{{l.constitution_desc}}</option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="term_dep_oprn_instr">Operational Instr</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="acc_oprn_instr" [(ngModel)]="tm_deposit.oprn_instr_cd" [disabled]='opeIns'
                class="form-control form-control-sm" (change)="setOperationalInstr($event.target.value)">
                <option [value]="tm_deposit.oprn_instr_cd" selected>
                  {{tm_deposit.oprn_instr_cd}}-{{tm_deposit.oprn_instr_desc}}</option>
                <option *ngFor="let l of operationalInstrList" [value]="l.oprn_cd">{{l.oprn_cd}}-{{l.oprn_desc}}
                </option>
              </select>
            </div>

            <div class="form-group col-5">
              <div class="container border">
                <div class="form-row">

                  <div class="form-group col-3">
                    <small for="acc_no">Investment Period</small>
                  </div>

                  <div class="form-group col-3">
                    <small for="term_dep_yr">Year</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.year" style="height:25px" type="number"
                      max='100' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="term_dep_yr">
                  </div>
                  <div class="form-group col-3">
                    <small for="term_dep_mon">Month</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.month" style="height:25px" type="number"
                      max='12' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="term_dep_mon">
                  </div>
                  <div class="form-group col-3">
                    <small for="term_dep_day">Day</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.day" style="height:25px" type="number"
                      max='30' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="term_dep_day">
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-4">
              <small for="term_dep_int_trans_type">Intt Transfer Type</small> <br>
              <select 
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="intt_trans_type" [(ngModel)]="tm_deposit.intt_trf_type" class="form-control form-control-sm"
                (change)="setIntTfrType($event.target.value)">
                <option [value]="tm_deposit.intt_trf_type" [readonly]="true" >{{tm_deposit.intt_tfr_type_dscr}}</option>
                <!-- <option *ngFor="let l of intTransferType" [value]="l.tfr_type">{{l.tfr_desc}}</option> -->
              </select>
            </div>

            <div class="form-group col-2">
              <small for="term_dep_intt_rate">Intt Rate</small>
              <input [(ngModel)]="tm_deposit.intt_rt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processInterest()" class="form-control form-control-sm text-capitalize"
                id="term_dep_intt_rate">
            </div>

            <div class="form-group col-3">
              <small for="term_dep_principal">Principal</small>
              <input [(ngModel)]="tm_deposit.prn_amt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processPrincipal()" class="form-control form-control-sm text-capitalize"
                id="term_dep_principal">
            </div>


            <div class="form-group col-3">
              <small for="term_dep_interest">Interest</small>
              <input [(ngModel)]="tm_deposit.intt_amt" style="height:25px; text-align-last: right;" [readonly]="true"
                type="number" min="0" step='any' class="form-control form-control-sm text-capitalize"
                id="term_dep_interest">
            </div>


          </div>

          <div class="form-row">
            <!-- <div class="form-group col-3">
            <small for="term_dep_mat_dt">Maturity Date</small>
            <input [readonly]="true" style="height:25px; width: 150px" type="text" placeholder="dd/mm/yyyy"
              [(ngModel)]="tm_deposit.mat_dt" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
          </div> -->

          <div class="form-group col-6">
            <small for="term_dep_matu_val">Matured Value</small>
            <input [ngModel]="tm_deposit.mat_val" [disabled]='disableAll' style="height:25px; text-align-last: right;"
              type="number" min="0" step='any' class="form-control form-control-sm text-capitalize"
              id="term_dep_matu_val">
          </div>
            <div class="form-group col-6">
              <small for="dbs_acc_open_dt">Maturity Date</small>
              <input [readonly]="true" style="height:25px;" type="text" placeholder="dd/mm/yyyy" class="form-control"
                [(ngModel)]="tm_deposit.mat_dt" [readonly]="true" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
            </div>

            <!-- <div class="form-group col-3">
              <small for="term_dep_cert_no">Cert. No. / Ledger Folio No.</small>
              <input [(ngModel)]="tm_deposit.cert_no" [disabled]='disableAll' style="height:25px" type="text"
                class="form-control form-control-sm text-capitalize" id="term_dep_cert_no">
            </div>

            <div class="form-group col-3">
          
              <small for="term_dep_stand_ins_after_matu">After Maturity Instr</small> <br>
              <select [disabled]='disableAll'
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="term_dep_stand_ins_after_matu" [(ngModel)]="tm_deposit.standing_instr_flag"
                class="form-control form-control-sm" (change)="setStandingInstrAfterMatu($event.target.value)">
                <option [value]="tm_deposit.standing_instr_flag" [readonly]="true" selected="selected">
                  {{tm_deposit.standing_instr_dscr}}</option>
                <option *ngFor="let l of standingInstrAfterMaturity" [selected]="tm_deposit.standing_instr_flag==l.instr_code" [value]="l.instr_code">{{l.instr_dscr}}</option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="term_dep_cert_no">S/B Account No</small>
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.user_acc_num" style="height:25px" type="text"
                class="form-control form-control-sm" id="term_dep_cert_no">
            </div> -->
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <small for="rec_dep_intt_rate">Bank Name</small>
              <select [disabled]='disableAll'
                  style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                  id="trans_type" [(ngModel)]="tm_deposit.bank_cd" class="form-control form-control-sm"
                  (change)="setBankName($event.target.value)">
                  <option value="">
                   Choose </option>
                  <option *ngFor="let l of bankData" [value]="l.bank_cd">
                    {{l.bank_cd}}-{{l.bank_name}}</option>
                </select>
            </div>
            <div class="form-group col-6">
              <small for="rec_dep_intt_rate">Branch Name</small>
              <select [disabled]='disableAll'
                  style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                  id="branch_cd" [(ngModel)]="tm_deposit.branch_cd" class="form-control form-control-sm">
                  <option [value]="" [readonly]="true">
                    select Branch</option>
                  <option *ngFor="let l of branch" [value]="l.branch_cd">
                    {{l.branch_cd}}-{{l.branch_name}}</option>
                </select>
            </div>

          </div>

        </div>
        <!-- <-----------End: Term Deposit_Reinvestment-------------->

        <!-- <-----------Start: Monthly Income Scheme -------------->
        <div *ngIf="accountTypeDiv==24">

          <div class="form-row">

            <div class="form-group col-4">
              <small for="mis_const">Constitution</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="trans_type" [(ngModel)]="tm_deposit.constitution_cd" [disabled]='disableAll'
                class="form-control form-control-sm" (change)="setConstitutionType($event.target.value)">
                <option [value]="tm_deposit.constitution_cd" [readonly]="true" selected>
                  {{tm_deposit.constitution_cd}}-{{tm_deposit.constitution_desc}}</option>
                <option *ngFor="let l of selectedConstitutionList" [value]="l.constitution_cd">
                  {{l.constitution_cd}}-{{l.constitution_desc}}</option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="mis_oprn_instr">Operational Instr</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="acc_oprn_instr" [(ngModel)]="tm_deposit.oprn_instr_cd" [disabled]='disableAll'
                class="form-control form-control-sm" (change)="setOperationalInstr($event.target.value)">
                <option [value]="tm_deposit.oprn_instr_cd" selected>
                  {{tm_deposit.oprn_instr_cd}}-{{tm_deposit.oprn_instr_desc}}</option>
                <option *ngFor="let l of operationalInstrList" [value]="l.oprn_cd">{{l.oprn_cd}}-{{l.oprn_desc}}
                </option>
              </select>
            </div>

            <div class="form-group col-5">
              <div class="container border">
                <div class="form-row">

                  <div class="form-group col-3">
                    <small for="mis_period">Deposit Period</small>
                  </div>

                  <div class="form-group col-3">
                    <small for="mis_yr">Year</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.year" style="height:25px" type="number"
                      max='100' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="mis_yr">
                  </div>
                  <div class="form-group col-3">
                    <small for="mis_mon">Month</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.month" style="height:25px" type="number"
                      max='12' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="mis_mon">
                  </div>
                  <div class="form-group col-3">
                    <small for="mis_day">Day</small>
                    <input [disabled]='disableAll' [(ngModel)]="tm_deposit.day" style="height:25px" type="number"
                      max='30' min="0" (focusout)="processYearMonthDay()"
                      class="form-control form-control-sm text-capitalize" id="mis_day">
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-4">
              <small for="mis_int_trans_type">Intt Transfer Type</small> <br>
              <select [readonly]="true"
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="mis_int_trans_type" [(ngModel)]="tm_deposit.intt_trf_type" class="form-control form-control-sm"
                (change)="setIntTfrType($event.target.value)">
                <option [value]="tm_deposit.intt_trf_type" [readonly]="true" selected>{{tm_deposit.intt_tfr_type_dscr}}</option>
                <option *ngFor="let l of intTransferType" [value]="l.tfr_type">{{l.tfr_desc}}</option>
              </select>
            </div>

            <div class="form-group col-2">
              <small for="mis_intt_rate">Intt Rate</small>
              <input [(ngModel)]="tm_deposit.intt_rt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processInterest()" class="form-control form-control-sm text-capitalize" id="mis_intt_rate">
            </div>

            <div class="form-group col-3">
              <small for="mis_principal">Principal</small>
              <input [(ngModel)]="tm_deposit.prn_amt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processPrincipal()" class="form-control form-control-sm text-capitalize" id="mis_principal">
            </div>

            <div class="form-group col-3">
              <small for="mis_interest">Interest</small>
              <input [(ngModel)]="tm_deposit.intt_amt" [readonly]="true" style="height:25px; text-align-last: right;"
                type="number" min="0" step='any' class="form-control form-control-sm text-capitalize" id="mis_interest">
            </div>

          </div>


          <div class="form-row">
            <!-- <div class="form-group col-3">
            <small for="mis_mat_dt">Maturity Date</small>
            <input [readonly]="true" style="height:25px; width: 150px" type="text" placeholder="dd/mm/yyyy"
              [(ngModel)]="tm_deposit.mat_dt" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
          </div> -->

            <div class="form-group col-2">
              <small for="dbs_acc_open_dt">Maturity Date</small>
              <input [readonly]="true" style="height:25px;" type="text" placeholder="dd/mm/yyyy" class="form-control"
                [(ngModel)]="tm_deposit.mat_dt" [readonly]="true" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
            </div>

            <div class="form-group col-3">
              <small for="mis_cert_no">Cert. No. / Ledger Folio No.</small>
              <input [(ngModel)]="tm_deposit.cert_no" [disabled]='disableAll' style="height:25px" type="text"
                class="form-control form-control-sm text-capitalize" id="mis_cert_no">
            </div>

            <div class="form-group col-2">
              <small for="mis_stand_ins_after_matu">After Maturity Instr</small> <br>
              <select [disabled]='disableAll'
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="mis_stand_ins_after_matu" [(ngModel)]="tm_deposit.standing_instr_flag"
                class="form-control form-control-sm" (change)="setStandingInstrAfterMatu($event.target.value)">
                <option [value]="tm_deposit.standing_instr_flag" [readonly]="true" selected>{{tm_deposit.standing_instr_dscr}}
                </option>
                <option *ngFor="let l of standingInstrAfterMaturity" [value]="l.instr_code">{{l.instr_dscr}}</option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="mis_cert_no">S/B Account No</small>
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.user_acc_num" style="height:25px" type="text"
                class="form-control form-control-sm" (focusout)="validateSbAccount()" id="mis_cert_no">
            </div>


            <div class="form-group col-2">
              <br>
              <!-- <div class="container border"> -->
              <label class="form-check-label">
                <input
                  [disabled]='disableAll || tm_deposit.intt_trf_type == undefined || tm_deposit.intt_trf_type == null || tm_deposit.intt_trf_type == "O"'
                  type="checkbox" value="false" [checked]="tm_deposit.cheque_facility_flag == 'Y'"
                  (change)="tm_deposit.cheque_facility_flag = $event.target.checked ? 'Y' : 'N' "><small> Standing
                  Instr</small>
              </label>
              <!-- </div> -->
            </div>
          </div>

        </div>
        <!-- <-----------End: Monthly Income Scheme-------------->


        <!-- <-----------Start: Recurring Deposit-------------->
        <div *ngIf="accountTypeDiv==25">

          <div class="form-row">
            <div class="form-group col-5">
              <small for="rec_dep_const">Constitution</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="trans_type" [(ngModel)]="tm_deposit.constitution_cd" [disabled]='disableAll'
                class="form-control form-control-sm" (change)="setConstitutionType($event.target.value)">
                <option [value]="tm_deposit.constitution_cd" [readonly]="true" selected>
                  {{tm_deposit.constitution_cd}}-{{tm_deposit.constitution_desc}}</option>
                <option *ngFor="let l of selectedConstitutionList" [value]="l.constitution_cd">
                  {{l.constitution_cd}}-{{l.constitution_desc}}</option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="rec_dep_intt_rate">No Of Installment</small>
              <input [(ngModel)]="tm_deposit.instl_no" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processInstallmentNo()" class="form-control form-control-sm text-capitalize"
                id="rec_dep_intt_rate">
            </div>

            <div class="form-group col-4">
              <small for="rec_dep_intt_rate">Installment Amount</small>
              <input [(ngModel)]="tm_deposit.instl_amt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" step='any'
                (focusout)="processInstallmentAmount()" class="form-control form-control-sm text-capitalize"
                id="rec_dep_intt_rate">
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-2">
              <small for="rec_dep_intt_rate">Rate Of Interest</small>
              <input [(ngModel)]="tm_deposit.intt_rt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" value='.00' step='any'
                (focusout)="processInterest()" class="form-control form-control-sm text-capitalize"
                id="rec_dep_intt_rate">
            </div>

            <div class="form-group col-2">
              <small for="rec_dep_principal">Total Principal</small>
              <input [(ngModel)]="tm_deposit.prn_amt" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" value='.00' step='any'
                class="form-control form-control-sm text-capitalize" id="rec_dep_principal">
            </div>


            <div class="form-group col-2">
              <small for="rec_dep_interest">Interest</small>
              <input [(ngModel)]="tm_deposit.intt_amt" [readonly]="true" style="height:25px; text-align-last: right;"
                type="number" min="0" value='0' step='any' class="form-control form-control-sm text-capitalize"
                id="rec_dep_interest">
            </div>

            <div class="form-group col-3">
              <small for="rec_dep_matu_val">Matured Value</small>
              <input [(ngModel)]="tm_deposit.mat_val" [disabled]='disableAll'
                style="height:25px; text-align-last: right;" type="number" min="0" value='0' step='any'
                class="form-control form-control-sm text-capitalize" id="rec_dep_matu_val">
            </div>

            <div class="form-group col-3">
              <small for="dbs_acc_open_dt">Maturity Date</small>
              <input [readonly]="true" style="height:25px;" type="text" placeholder="dd/mm/yyyy" class="form-control"
                [(ngModel)]="tm_deposit.mat_dt" [readonly]="true" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-3">
              <small for="rec_dep_oprn_instr">Operational Instr</small> <br>
              <select
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="acc_oprn_instr" [disabled]='disableAll' [(ngModel)]="tm_deposit.oprn_instr_cd"
                [disabled]='disableAll' class="form-control form-control-sm"
                (change)="setOperationalInstr($event.target.value)">
                <option [value]="tm_deposit.oprn_instr_cd" selected>
                  {{tm_deposit.oprn_instr_cd}}-{{tm_deposit.oprn_instr_desc}}</option>
                <option *ngFor="let l of operationalInstrList" [value]="l.oprn_cd">{{l.oprn_cd}}-{{l.oprn_desc}}
                </option>
              </select>
            </div>

            <div class="form-group col-3">
              <small for="rec_dep_stand_ins_after_matu">After Maturity Instr</small> <br>
              <select [disabled]='disableAll' [disabled]='disableAll'
                style="height:25px; font-size: small; align-content:center; padding-top: 0px; background-color: whitesmoke;"
                id="rec_dep_stand_ins_after_matu" [(ngModel)]="tm_deposit.standing_instr_flag"
                class="form-control form-control-sm" (change)="setStandingInstrAfterMatu($event.target.value)">
                <option [value]="tm_deposit.standing_instr_flag" [readonly]="true" selected>{{tm_deposit.standing_instr_dscr}}
                </option>
                <option *ngFor="let l of standingInstrAfterMaturity" [value]="l.instr_code">{{l.instr_dscr}}</option>
              </select>
            </div>


            <div class="form-group col-3">
              <small for="dbs_cert_no">S/B Account No</small>
              <!-- <small for="dbs_cert_no">Flexi Account No</small> -->
              <input [disabled]='disableAll' [(ngModel)]="tm_deposit.user_acc_num" style="height:25px" type="text"
                class="form-control form-control-sm" (focusout)="validateSbAccount()" id="rec_sb_ac_no">
            </div>

            <div class="form-group col-3">
              <br>
              <label class="form-check-label">
                <input [disabled]='disableAll' type="checkbox" value="false"
                  [checked]="tm_deposit.cheque_facility_flag == 'Y'"
                  (change)="tm_deposit.cheque_facility_flag = $event.target.checked ? 'Y' : 'N' "><small> Standing
                  Instruction</small>
              </label>
            </div>
            

          </div>
          <div class="form-row">
            <div class="form-group col-3">
              <small for="mis_cert_no">Cert. No. / Ledger Folio No.</small>
              <input [(ngModel)]="tm_deposit.cert_no" [disabled]='disableAll' style="height:25px" type="text"
                class="form-control form-control-sm text-capitalize" id="mis_cert_no" placeholder="Cert. No. / Ledger Folio No.">
            </div>
          
          </div>
        </div>
        <!-- <-----------End: Recurring Deposit-------------->

      
        
      </div>

      <!-- <==================================================================================> -->

    </div>


   

    

    <!-- <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{alertMsgType}}: </strong>
    {{alertMsg}}
    <button mat-raised-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertMsg()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
    <div *ngIf="showMsg && showMsg.Show" class="col-12 mt-1">
      <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
     'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
        <strong>{{showMsg.Message}}</strong>
        <button type="button" class="close" data-dismiss="alert" (click)="closeAlertMsg()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

  </div>

 <ng-container *ngTemplateOutlet="buttonDiv">

  </ng-container>


</div>


