<div class="container mt-2">


  <table class="table ml-5" style="width:900px;">
   <tr class="divc3">
     <td><h4>Admin panel</h4></td>
     <td></td>
     <td></td>
   </tr>

   <tr class="divc5">
     <td class="text" style="width: 25% "><b>Operation</b></td>
     <td class="text" style="width: 45%"><b>Description</b></td>
     <td class="text" style="width: 15%"><b>Configuration</b></td>
   </tr>
   <tr class="divc4"></tr>

   <tr class="divc6">
     <td><b>Configure New Bank</b></td>
     <td>Setup to make online a new Bank</td>
     <td>
       <button type="button" class="btn btn-primary btn-sm ml-3" (click)="configNewBank()" >
         <i class="fa fa-arrow-circle-right fa-x "></i></button>
     </td>
   </tr>

   <tr class="divc6">
     <td><b>Master Setup</b></td>
     <td>Master setup for Module/Menu/Screen</td>
     <td>
       <button type="button" class="btn btn-primary btn-sm ml-3" (click)="navMasterConfig()">
         <i class="fa fa-arrow-circle-right fa-x "></i></button>
     </td>
   </tr>

   <tr class="divc6">
     <td><b>Bank-wise Setup</b></td>
     <td>Bank-Wise Menu Configuaration</td>
     <td>
       <button type="button" class="btn btn-primary btn-sm ml-3"  (click)="navBankWiseConfig()">
         <i class="fa fa-arrow-circle-right fa-x "></i></button>
     </td>
   </tr>

 </table>


</div>
